/****** Object:  StoredProcedure [dbo].[m_getForms]    Script Date: 4/6/2025 5:23:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Amit Gorvadiya
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- @IsAllChild : Set it true to get all Child form irrespective on parent form
-- =============================================
-- EXEC m_getForms ''
CREATE OR ALTER PROCEDURE [dbo].[m_getForms]
	-- Add the parameters for the stored procedure here
	@FormId as varchar(37)  = NULL
AS
BEGIN
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- List of Child forms
	IF @FormId IS NOT NULL AND @FormId <> ''
	BEGIN
		DECLARE @guid uniqueidentifier 
		SET @guid = CONVERT(uniqueidentifier, @FormId)

		SELECT f.FormId,f.FormName,f.FormTitle,f.FormDescription,f.IsActive,f.ParentFormId,f.SQLTableName,
		f.Prefix, ISNULL(f.CompanyId, '00000000-0000-0000-0000-000000000000')  AS CompanyId,
		fp.SqlTemplateId 
		FROM m_FormMast f WITH(NOLOCK) 
		INNER JOIN m_FormMast fp ON f.ParentFormId=fp.FormId
		WHERE f.ParentFormId = @guid ORDER BY f.FormTitle ASC
	END
	ELSE
	BEGIN
		SELECT FormId,FormName,FormTitle,FormDescription,IsActive,ParentFormId,SQLTableName,
		Prefix,ISNULL(CompanyId, '00000000-0000-0000-0000-000000000000')  AS CompanyId,
		SqlTemplateId FROM m_FormMast WITH(NOLOCK) 
		WHERE ParentFormId IS NULL  ORDER BY FormTitle ASC
	END

	--SELECT FormId,FormName,FormTitle,FormDescription,IsActive,ParentFormId FROM m_FormMast WITH(NOLOCK) WHERE ParentFormId IS NULL
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
	DECLARE @ErrorState INT = ERROR_STATE();

	RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END
