
/****** Object:  StoredProcedure [dbo].[m_getSelection]    Script Date: 20/7/2025 6:02:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  --exec  [m_getSelection]   @SelectionType = 'CoAList'  
CREATE OR ALTER PROCEDURE [dbo].[m_getSelection]  
 -- Add the parameters for the stored procedure here  
 @SelectionType as varchar(25),  
 @WhereClause as varchar(25) = '',  
 @OrderBy as varchar(25) = '',  
 @EntryType as varchar(25) = ''  
AS  
BEGIN  
BEGIN TRY
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
 DECLARE @sql as nvarchar(MAX) = 'SELECT ''Select'' as OptionText, ''0'' as OptionValue';  
  
 IF @SelectionType = 'FormSection'  
 BEGIN  
  SET @sql = 'SELECT SectionName as OptionText, CONVERT(varchar(50), FormSectionId) as OptionValue  FROM m_FormSection'  
 END  
 IF @SelectionType = 'Parameter'  
 BEGIN  
  SET @sql = 'SELECT Description as OptionText, CONVERT(VARCHAR(5),Value) as OptionValue  FROM m_Parameters where EntryType='''+ @EntryType+''''  
 END  
 ELSE IF @SelectionType = 'FormTab'  
 BEGIN  
  SET @sql = 'SELECT TabName as OptionText, CONVERT(varchar(50), FormTabId) as OptionValue FROM m_FormTab'     
 END  
 ELSE IF @SelectionType = 'FormFieldTypes'  
 BEGIN  
  SET @sql = 'SELECT FieldType as OptionText, CONVERT(varchar(50), FieldTypeId) as OptionValue FROM m_FormFieldTypes'     
 END  
 ELSE IF @SelectionType = 'City'  
 BEGIN  
  SET @sql = 'SELECT City_name as OptionText, CONVERT(varchar(50), City_id) as OptionValue FROM m_City'     
 END  
 ELSE IF @SelectionType = 'State'  
 BEGIN  
  SET @sql = 'SELECT State_name as OptionText, CONVERT(varchar(50), State_id) as OptionValue FROM m_States'     
 END  
 ELSE IF @SelectionType = 'Country'  
 BEGIN  
  SET @sql = 'SELECT Country_name as OptionText, CONVERT(varchar(50), Country_id) as OptionValue FROM m_Countries'     
 END  
 ELSE IF @SelectionType = 'TaxSlab'  
 BEGIN  
  SET @sql = 'SELECT TaxSlab as OptionText, CONVERT(varchar(50), TaxSlabId) as OptionValue FROM m_OtherCharges_TaxSlab'     
 END  
 ELSE IF @SelectionType = 'ChargesType'  
 BEGIN  
  SET @sql = 'SELECT ChargesType as OptionText, CONVERT(varchar(50), ChargesTypeId) as OptionValue FROM m_OtherChargesType'     
 END  
 ELSE IF @SelectionType = 'Ledger'  
 BEGIN  
  SET @sql = 'SELECT AccountName as OptionText, CONVERT(varchar(200), Id) as OptionValue FROM m_MastAccountMaster'     
 END
 ELSE IF @SelectionType = 'Forms'  
 BEGIN  
  SET @sql = 'SELECT FormTitle as OptionText, CONVERT(varchar(50), FormId) as OptionValue FROM m_FormMast WHERE ParentFormId IS NOT NULL'     
 END
  ELSE IF @SelectionType = 'UserRole'  
 BEGIN  
  SET @sql = 'SELECT RoleName as OptionText, CONVERT(varchar(3), RoleId) as OptionValue FROM m_RoleMast '
 END
 ELSE IF @SelectionType = 'Company'  
 BEGIN  
  SET @sql = 'SELECT CompanyName as OptionText, CONVERT(varchar(50), CompanyId) as OptionValue FROM m_CompanyMast '
 END
 ELSE IF @SelectionType = 'Currency'
 BEGIN  
  SET @sql = 'SELECT CONVERT(VARCHAR(200), CONCAT(ParaDescription, ''-'', Symbol ,''-'',alias)) AS OptionText, CONVERT(varchar(50), Id) as OptionValue FROM PARCurrency ORDER BY ParaDescription'     
 END
 ELSE IF @SelectionType = 'Process'  
 BEGIN  
  SET @sql = 'SELECT ParaDescription as OptionText, CONVERT(varchar(50), Id) as OptionValue FROM PARProcess '
 END
 ELSE IF @SelectionType = 'Location'  
 BEGIN  
  SET @sql = 'SELECT ParaDescription as OptionText, CONVERT(varchar(50), Id) as OptionValue FROM m_MastLocation '
 END
 ELSE IF @SelectionType = 'UserList'  
 BEGIN  
  SET @sql = 'SELECT (ISNULL(FirstName,'''')+ '' ''+ ISNULL(LastName,'''')) as OptionText, CONVERT(varchar(50), UserId) as OptionValue FROM m_UserMast'
 END
 ELSE IF @SelectionType = 'CoAgentList'  
 BEGIN  
  SET @sql = 'SELECT ISNULL(ParaDescription,'''') as OptionText, CONVERT(varchar(50), Id) as OptionValue FROM PARSalesBDM'
 END
 /*ELSE IF @SelectionType = 'ContactPersonList'  
 BEGIN  
  SET @sql = 'SELECT ISNULL(ParaDescription,'''') as OptionText, CONVERT(varchar(50), Id) as OptionValue FROM PARSalesBDM'
 END
 */
 IF @WhereClause <> ''  
 BEGIN  
  SET @sql = @sql + ' '+ @WhereClause    
 END  

 --SELECT CONVERT(VARCHAR(200), CONCAT(Symbol,' - ',ParaDescription)) as OptionText, CONVERT(varchar(50), Id) as OptionValue FROM PARCurrency ORDER BY ParaDescription

  IF @OrderBy <> ''  
 BEGIN  
  SET @sql = @sql + ' '+ @OrderBy    
 END  
  
 print @sql  
   
 EXECUTE sp_executesql @sql  
  
 --SELECT SectionName as OptionText, CONVERT(varchar(50), FormSectionId) as OptionValue  FROM m_FormSection  
 --select * from m_FormFieldTypes  
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
	DECLARE @ErrorState INT = ERROR_STATE();

	RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END