
CREATE OR ALTER  PROCEDURE [dbo].[m_getFormData]
	-- Add the parameters for the stored procedure here
	@FormId as varchar(37)  = NULL
AS
-- =============================================
-- Author:		Amit Gorvadiya
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
BEGIN
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @guid uniqueidentifier 
	IF(ISNULL(@FormId,'') != '')
	BEGIN
		SET @guid = CONVERT(uniqueidentifier, @FormId)
	END
	print @guid
    -- Details of Form
	SELECT FormId,FormName,FormTitle,FormDescription,IsActive,ParentFormId,SQLTableName,
	Prefix,CompanyId,SqlTemplateId, ISNULL(SortOrder,0) AS SortOrder	
	FROM m_FormMast WITH(NOLOCK)
	WHERE FormId = ISNULL(@guid,FormId)  ORDER BY SortOrder ASC, FormTitle ASC


	-- List of Child forms
	--IF @FormId IS NOT NULL
	--BEGIN

	--	SELECT FormId as ChildFormId,FormName as ChildFormName,FormTitle  as ChildFormTitle,FormDescription as ChildFormDescription,
	--	IsActive as ChildIsActive,ParentFormId as FormId FROM m_FormMast WITH(NOLOCK) WHERE ParentFormId = @FormId
	--END
	--ELSE
	--BEGIN
	--	SELECT FormId as ChildFormId,FormName as ChildFormName,FormTitle  as ChildFormTitle,FormDescription as ChildFormDescription,
	--	IsActive as ChildIsActive,ParentFormId as FormId FROM m_FormMast WITH(NOLOCK) WHERE ParentFormId IS NULL
	--END

	--SELECT FieldId,FormId,FormTabId,FieldTypeId,IsActive,FieldName,FieldCaption,FieldLength,FormSectionId,IsRequired,CreatedOn,UpdatedOn,ParameterId FROM m_FormField WITH(NOLOCK) WHERE FormId = @FormId
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
	DECLARE @ErrorState INT = ERROR_STATE();

	RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END
