DROP PROCEDURE IF EXISTS [dbo].[m_getNextCode]
GO
/** Object:  StoredProcedure [dbo].[m_getNextCode]    Script Date: 3/5/2025 11:26:50 PM **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec [m_getSelection] 'FormSection','','Order by SectionName asc'
--exec [m_getNextCode] 'm_ItemMast'

CREATE PROCEDURE [dbo].[m_getNextCode]
	-- Add the parameters for the stored procedure here
	@p_tableName as varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	CREATE TABLE #MyTempTable (LastCode varchar(50),Prefix nvarchar(5))

	DECLARE @nextCode VARCHAR(20)  = '0'
	DECLARE @sql as nvarchar(MAX) = '';
	DECLARE @TableName as nvarchar(50), @FieldName as nvarchar(50), @Prefix as nvarchar(3) = '';

	SELECT @TableName = TableName ,@FieldName = FieldName ,@Prefix = Prefix FROM m_Prefix where TableName = @p_tableName
	
	SET @sql = 'INSERT INTO #MyTempTable SELECT TOP 1 '+ @FieldName + ' as LastCode, '''+@Prefix+''' as Prefix FROM ' +@TableName+' ORDER BY '+ @FieldName + ' DESC'
		
	EXECUTE sp_executesql @sql
	
	SELECT @nextCode = REPLACE(LastCode,@Prefix,'') from #MyTempTable
	
	SET @nextCode = convert(Varchar,(cast(@nextCode AS BIGINT) +1))	
	
	SET @nextCode = @Prefix + '' + RIGHT('00000000'+CONVERT(VARCHAR,@nextCode),8)

	DELETE FROM #MyTempTable

	INSERT INTO #MyTempTable  VALUES (@nextCode,@Prefix)
	
	SELECT LastCode,Prefix FROM #MyTempTable

	--SELECT 'C00000001' as LastCode,'C' as Prefix

	DROP TABLE #MyTempTable
END