DROP PROCEDURE IF EXISTS  dbo.[proc_GetDataTableList]  
/****** Object:  StoredProcedure [dbo].[proc_GetDataTableList]    Script Date: 2/5/2025 10:41:17 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Lavina Shaktawat  
-- Create date: 26/03/2025  
-- Description:<Get All Data from Sourcetable's All Data based on FormName> 
-- =============================================  
/* 
DECLARE @ErrorMessage VARCHAR(200);
EXEC dbo.[proc_GetDataTableList] 
    @PageName = 'SalesOrder',   -- Replace with the actual page name
    @ErrorMsg = @ErrorMessage OUTPUT;
PRINT 'Stored Procedure Execution Status: ' + @ErrorMessage;
*/
CREATE PROCEDURE [dbo].[proc_GetDataTableList]      
    @PageName NVARCHAR(50),    
    @PageNumber INT = 1,
    @PageSize INT = 50,
    @ErrorMsg VARCHAR(200) OUTPUT    
AS    
BEGIN    
    SET NOCOUNT ON;

    DECLARE @FormId  AS NVARCHAR(50),    
            @SQLTableName  AS NVARCHAR(50),    
            @SectionId AS NVARCHAR(50),    
            @Columns AS NVARCHAR(MAX)='',    
            @SQL NVARCHAR(MAX),    
            @LookupColumns NVARCHAR(MAX)='';    

    DECLARE @CompanyId AS NVARCHAR(50);    

	DECLARE @TempData TABLE ( 
        RowNum INT,   
        FieldName VARCHAR(MAX),    
        DDLSourceType VARCHAR(100),    
        DDLSourceName VARCHAR(100),    
        DDLTextField VARCHAR(100),    
        DDLValueField VARCHAR(100),
        SortOrder INT
    );

	DECLARE @TempData2 TABLE (  
        RowNum INT,    
        FieldName VARCHAR(MAX),    
        DDLSourceType VARCHAR(100),    
        DDLSourceName VARCHAR(100),    
        DDLTextField VARCHAR(100),    
        DDLValueField VARCHAR(100),
        SortOrder INT
    );

    SELECT @FormId = FormId, 
           @CompanyId = CompanyId, 
           @SQLTableName = SQLTableName  
    FROM m_FormMast 
    WHERE FormName = @PageName;    

    SELECT @SectionId = FormSectionId 
    FROM m_FormSection 
    WHERE SectionName = 'Header';    

	-- Insert visible and standard columns into temp table
	INSERT INTO @TempData (RowNum, FieldName, DDLSourceType, DDLSourceName, DDLTextField, DDLValueField, SortOrder)
		SELECT ROW_NUMBER() OVER (ORDER BY COLUMN_NAME DESC), COLUMN_NAME, NULL, NULL, NULL, NULL, 0 
		FROM INFORMATION_SCHEMA.COLUMNS    
		WHERE TABLE_NAME = @SQLTableName AND COLUMN_NAME IN ('ID','DocNo', 'DocDate','URNNo')    
    UNION  
		SELECT ROW_NUMBER() OVER (ORDER BY Field.SortOrder), 
               FieldName, Field.DDLSourceType, Field.DDLSourceName, Field.DDLTextField, Field.DDLValueField, Field.SortOrder
		FROM m_FormField AS Field WITH (NOLOCK)    
		INNER JOIN m_FormTab AS tab WITH (NOLOCK)   
		    ON Field.FormTabId = tab.FormTabId 
           AND Field.FormSectionId = @SectionId    
		WHERE Field.FormId = @FormId AND ISNULL(IsVisibleInList, 0) = 1 
	UNION
		SELECT ROW_NUMBER() OVER (ORDER BY COLUMN_NAME ASC), COLUMN_NAME, NULL, NULL, NULL, NULL, 1000 
		FROM INFORMATION_SCHEMA.COLUMNS    
		WHERE TABLE_NAME = @SQLTableName AND COLUMN_NAME IN ('CreatedBy', 'CreatedOn','FiancialYearId',  'Status', 'UpdatedBy', 'UpdatedOn');      

	-- Final ordered list
	INSERT INTO @TempData2 
	SELECT  ROW_NUMBER() OVER (ORDER BY SortOrder, RowNum ASC), 
            FieldName, DDLSourceType, DDLSourceName, DDLTextField, DDLValueField, SortOrder 
	FROM @TempData;

    -- Prepare columns string
    SELECT @Columns = STRING_AGG(FieldName, ', ')  
    FROM @TempData2;

	-- Build lookup replacements
	SELECT @LookupColumns = STRING_AGG(
        '(SELECT ' + DDLSourceName + '.' + DDLTextField + 
        ' FROM ' + DDLSourceName + 
        ' WHERE ' + DDLSourceName + '.' + DDLValueField + ' = ' + @SQLTableName + '.' + FieldName + 
        ') AS ' + FieldName
	, ', ') 
	FROM @TempData2 
	WHERE DDLSourceType IS NOT NULL;

	-- Replace columns with lookup values where needed
	IF LEN(ISNULL(@LookupColumns, '')) > 0
	BEGIN
		DECLARE @FieldName NVARCHAR(100), @LookupColumn NVARCHAR(500);
		DECLARE LookupCursor CURSOR FOR
		SELECT FieldName, 
               '(SELECT ' + DDLSourceName + '.' + DDLTextField + 
			   ' FROM ' + DDLSourceName + 
			   ' WHERE ' + DDLSourceName + '.' + CONVERT(VARCHAR(50), DDLValueField) + 
			   ' = ' + @SQLTableName + '.' + FieldName + 
               ') AS ' + FieldName
		FROM @TempData2 
		WHERE DDLSourceType IS NOT NULL;

		OPEN LookupCursor;
		FETCH NEXT FROM LookupCursor INTO @FieldName, @LookupColumn;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @Columns = REPLACE(@Columns, @FieldName, @LookupColumn);
			FETCH NEXT FROM LookupCursor INTO @FieldName, @LookupColumn;
		END;

		CLOSE LookupCursor;
		DEALLOCATE LookupCursor;
	END;

    -- Pagination calculations
    DECLARE @StartRow INT = (@PageNumber - 1) * @PageSize + 1;
    DECLARE @EndRow INT = @PageNumber * @PageSize;

    -- Final SQL with pagination using CTE
    SET @SQL = '
    ;WITH CTE_Data AS (
        SELECT ROW_NUMBER() OVER (ORDER BY ID ASC) AS RowNum, ' + @Columns + '
        FROM ' + QUOTENAME(@SQLTableName) + '
    )
    SELECT * FROM CTE_Data 
    WHERE RowNum BETWEEN ' + CAST(@StartRow AS NVARCHAR) + ' AND ' + CAST(@EndRow AS NVARCHAR) + '
    ORDER BY RowNum;';

    -- Debug (optional)
    -- PRINT @SQL;

    SET @ErrorMsg = 'Success';    
    EXEC sp_executesql @SQL;    
END;