SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[Proc_GetAllFollowUpEvents] 0
CREATE OR ALTER    PROCEDURE [dbo].[Proc_GetAllFollowUpEvents]
	@FollowUpId INT =0
AS
/*
Created By: Lavina Shaktawat
Create Date: 15/7/2025
Purpose: To Get All Follow Up Events or a Single Event if @FollowUpId supplied
*/
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY
	Print convert(varchar,@FollowUpId)
		SELECT 
			 FollowUpId
			,FollowUpDate 
			/*,(RIGHT('0' + CAST(DATEPART(HOUR, FollowUpDate) % 12 AS VARCHAR), 2) + ':' +
			 RIGHT('0' + CAST(DATEPART(MINUTE, FollowUpDate) AS VARCHAR), 2) + ' ' +
			 (CASE WHEN DATEPART(HOUR, FollowUpDate) >= 12 THEN 'PM' ELSE 'AM' END) )AS Title*/
			 ,ISNULL(f.FormName,'') + ' : '+ FP.Form_URNNo AS Title
			,EventPriority
			,Interaction  
			,Response
			,CreatedBy
			,Status
			,AssignedTo
			,NextFollowUpID
			,NextFollowUpDate
			,FP.FormId
			,Form_ParentId
			,Form_URNNo
			,ContactPerson_Id
			,ContactPerson
			,'' AS Url			
			,CoAgent
		FROM t_FollowUp  (NOLOCK) FP
		LEFT JOIN m_FormMast (NOLOCK) F ON FP.formId  = F.FormId
		WHERE FollowUpId = (CASE ISNULL(@FollowUpId,0) WHEN  0 THEN FollowUpId ELSE @FollowUpId END)

	END TRY
	BEGIN CATCH
		-- Return error information
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END


