USE [TFDSolution]
GO
/****** Object:  StoredProcedure [dbo].[proc_getItemList]    Script Date: 3/7/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 04/03/2025
-- Description:	<Description>
-- =============================================
ALTER PROCEDURE [dbo].[proc_getItemList]
	-- Add the parameters for the stored procedure here	
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ItemId, ItemCode, ItemDescription, AlternateDescription, 
		ItemGroup, ItemUOM, ItemCategory, ItemType, PackingType, 
		ItemStatus, PurchaseUOM, ItemPerPurchase, PurchaseTaxPercentage, 
		PurchaseHSNCode, SalesUOM, ItemPerSales, SalesTaxPercentage, 
		SalesHSNCode, ItemWeight, MinimumQty, MaximumQty, ReorderQty, 
		ValuationMethod,  (m_UserMast.FirstName +' ' + m_UserMast.LastName) as CreatedBy,m_ItemMast.CreatedOn,
	(ISNULL(u.FirstName,'') +' ' + ISNULL(u.LastName,'')) as UpdatedBy ,m_ItemMast.UpdatedOn
	FROM dbo.m_ItemMast WITH(NOLOCK)
	INNER JOIN m_UserMast WITH(NOLOCK) ON m_UserMast.UserId = m_ItemMast.CreatedBy
	LEFT JOIN m_UserMast u WITH(NOLOCK) ON u.UserId = m_ItemMast.UpdatedBy
	ORDER BY m_ItemMast.ItemCode desc
	

END
