
/****** Object:  StoredProcedure [dbo].[auth_getLogin]    Script Date: 3/6/2025 6:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
--exec proc_Auth_GetLogin 'amit.gorvadiya','304VQn/v8dzaXG2qzAEd2K8ZyVvFgyS4ts/uvzcaJmc='  
  
-- =============================================  
-- Author:  Lavina Shaktawat  
-- Create date: <03Jun, 2025>  
-- Description: <For Get Login user details>  
-- =============================================  
Create or Alter PROCEDURE [dbo].[proc_Auth_GetLogin]  
 -- Add the parameters for the stored procedure here  
 @UserName as VARCHAR(50),  
 @Password as VARCHAR(50)  
AS  
BEGIN  
BEGIN TRY  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  DECLARE @EmptyGuid UNIQUEIDENTIFIER ='00000000-0000-0000-0000-000000000000'

 IF NOT EXISTS (SELECT 1 FROM m_UserMast WITH(NOLOCK) WHERE UserName= @UserName)  
 BEGIN  
  SELECT @EmptyGuid AS UserId,'' AS FirstName,'' AS LastName,  
  '' AS EmailId,'' AS UserName,CAST('0' AS bit) AS IsActive,  
  GETDATE() AS CreatedOn,GETDATE() AS UpdatedOn,  
  GETDATE() AS LastLoginDate,GETDATE() AS PasswordExpiredOn,  
  'User Name doest not exist' as Response,  
  CAST('0' AS bit) as IsSuccess  
 END  
 ELSE IF NOT EXISTS (SELECT 1 FROM m_UserMast WITH(NOLOCK) WHERE UserName= @UserName AND Password = @Password)  
 BEGIN  
  SELECT @EmptyGuid AS UserId,'' AS FirstName,'' AS LastName,  
  '' AS EmailId,'' AS UserName,CAST('0' AS bit) AS IsActive,  
  GETDATE() AS CreatedOn,GETDATE() AS UpdatedOn,  
  GETDATE() AS LastLoginDate,GETDATE() AS PasswordExpiredOn,  
  'Your password is wrong. Please enter valid password' as Response,  
  CAST('0' AS bit) as IsSuccess     
 END
 ELSE IF NOT EXISTS (SELECT 1 FROM m_UserMast WITH(NOLOCK) WHERE UserName= @UserName AND Password = @Password and IsActive = 1)  
 BEGIN  
  SELECT @EmptyGuid AS UserId,'' AS FirstName,'' AS LastName,  
  '' AS EmailId,'' AS UserName,CAST('0' AS bit) AS IsActive,  
  GETDATE() AS CreatedOn,GETDATE() AS UpdatedOn,  
  GETDATE() AS LastLoginDate,GETDATE() AS PasswordExpiredOn,  
  'This account is no longer active. For assistance, please contact your system administrator.' as Response,  
  CAST('0' AS bit) as IsSuccess     
 END
 ELSE  
 BEGIN  
    -- Insert statements for procedure here  
  SELECT UserId,FirstName,LastName,EmailId,UserName,IsActive,CreatedOn,UpdatedOn,LastLoginDate,PasswordExpiredOn,'Authenticated Successfully' as Response, CAST('1' AS bit) as IsSuccess , ISNULL(RoleId,0) AS  RoleId
  FROM [m_UserMast]   
  WITH(NOLOCK) WHERE UserName= @UserName AND Password = @Password  and IsActive = 1
  
  UPDATE [dbo].[m_UserMast] SET LastLoginDate = GETDATE() WHERE UserName= @UserName AND Password = @Password  
 END  
END TRY  
BEGIN CATCH  
 DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();  
 DECLARE @ErrorSeverity INT = ERROR_SEVERITY();  
 DECLARE @ErrorState INT = ERROR_STATE();  
  
 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);  
END CATCH  
END  