
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[Proc_SaveNextFollowUpEvent]
	@ParentFollowUpId INT,
	@FollowUpId INT = 0 ,
	@FollowUpDate DateTime,
	@Form_URNNo NVARCHAR(50),
	@EventPriority INT = NULL,
	@AssignedTo NVARCHAR(50),
	@ContactPersonId INT = NULL,
    @Interaction NVARCHAR(200) = NULL,
    @Response NVARCHAR(200) =  NULL,
    @CreatedBy VARCHAR(50),
	@CoAgentId INT = NULL,
    @Status INT
AS
/*
Created By: Lavina Shaktawat
Create Date: 22/7/2025
Purpose: To Save Next Follow Up Events
*/
BEGIN
    SET NOCOUNT ON;
	DECLARE @MessageText AS VARCHAR(500) = ''
	DECLARE @IsSuccess AS BIT = 0
	DECLARE @NewEventId AS INT=0
	BEGIN TRY
	SET @NewEventId = @FollowUpId
		IF (@FollowUpId>0)
		BEGIN
			SET @NewEventId = @FollowUpId

			UPDATE t_FollowUp
			SET 
			FollowUpDate = @FollowUpDate,
			Interaction = NULLIF(@Interaction, ''),
			Response = NULLIF(@Response, ''),
			--CreatedBy = @CreatedBy,
			Status = @Status,
			AssignedTo = @AssignedTo,
			--Form_URNNo = @URN,
			ContactPerson_Id = NULLIF(@ContactPersonId, 0),
			--ContactPerson = (SELECT NULLIF(ContactPerson,'') FROM t_ContactPErson C WHERE C.ContactPerson_Id = @ContactPersonId),
			--NextFollowUpID = NULLIF(@NextFollowUpID, 0),
		--	NextFollowUpDate = NULLIF(@NextFollowUpDate, ''),
			CoAgent = NULLIF(@CoAgentId, 0),
			EventPriority = NULLIF(@EventPriority, 0),
			--FormId = FormId,                 -- same as existing (can omit)
			--Form_ParentId = Form_ParentId   -- same as existing (can omit)
			UpdatedBy =  @CreatedBy,
			UpdatedOn = GETDATE()
			WHERE FollowUpId = @FollowUpId;

			IF @NewEventId >0
			BEGIN
				Update t_FollowUp 
				SET NextFollowUpDate = @FollowUpDate 
				WHERE NextFollowUpID = @FollowUpId


			END
			SET @IsSuccess = 1
			SET @MessageText = 'Record save successfully.'
		END
		ELSE
		BEGIN
			INSERT INTO t_FollowUp (FollowUpDate, Interaction, Response, CreatedBy, CreatedOn, 
			Status,AssignedTo,Form_URNNo,ContactPerson_Id,/*ContactPerson,*/
			--NextFollowUpID , NextFollowUpDate, 
			CoAgent,EventPriority,FormId,Form_ParentId)
			SELECT @FollowUpDate,NULLIF(@Interaction,''), NULLIF(@Response,''),@CreatedBy,GETDATE(),
			@Status,@AssignedTo, @Form_URNNo,NULLIF(@ContactPersonId,0),/*,C.ContactPersonName*/
			--NULLIF(@NextFollowUpID,0),		NULLIF(@NextFollowUpDate,''),
			NULLIF(@CoAgentId,0), ISNULL(@EventPriority,1),  NULLIF(FormId,''),NULLIF(Form_ParentId,0)
			FROM t_FollowUp f
			/*LEFT JOIN t_ContactPErson C ON f.ContactPerson_Id = C.ID*/
			WHERE FollowUpId = @ParentFollowUpId AND Form_URNNo = @Form_URNNo
			
			SELECT @NewEventId = SCOPE_IDENTITY() ;

			IF @NewEventId >0
			BEGIN
				Update t_FollowUp SET NextFollowUpID = @NewEventId , NextFollowUpDate = @FollowUpDate
				WHERE FollowUpId = @ParentFollowUpId AND Form_URNNo = @Form_URNNo

			END
			SET @IsSuccess = 1
			SET @MessageText = 'Record save successfully.'
		END
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Save' as Action, @NewEventId as Id 

	END TRY
    BEGIN CATCH
		SET @IsSuccess = 0
		SET @MessageText = ERROR_MESSAGE();
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Error' as Action, @NewEventId as Id 
	END CATCH
END
