
/****** Object:  StoredProcedure [dbo].[proc_GetRolePermissionFormList]    Script Date: 4/6/2025 10:07:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Createed By: Lavina Shaktawat
Description: To Fetch All child forms with permisssion
*/

CREATE OR ALTER PROCEDURE [dbo].[proc_GetUserFormWithPermissions]
    @RoleId INT,
	@ParentFormId VARCHAR(50) = ''
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY
		SELECT F.FormId,F.FormName,F.FormTitle,F.FormDescription,F.IsActive,F.ParentFormId,F.SQLTableName,
		F.Prefix,ISNULL(F.CompanyId, '00000000-0000-0000-0000-000000000000')  AS CompanyId,	F.SqlTemplateId, 
		CAST(ISNULL(RP.FullAccess, 0) AS bit) AS FullAccess,
		CAST(ISNULL(RP.CanAdd, 0) AS bit) AS CanAdd,
		CAST(ISNULL(RP.CanEdit, 0) AS bit) AS CanEdit,
		CAST(ISNULL(RP.CanDelete, 0) AS bit) AS CanDelete,
		CAST(ISNULL(RP.CanPrint, 0) AS bit) AS CanPrint,
		CAST(ISNULL(RP.CanApprove, 0) AS bit) AS CanApprove,
		CAST(CASE 
			WHEN ISNULL(RP.FullAccess, 0) = 0 
			 AND ISNULL(RP.CanAdd, 0) = 0 
			 AND ISNULL(RP.CanEdit, 0) = 0 
			 AND ISNULL(RP.CanDelete, 0) = 0 
			 AND ISNULL(RP.CanPrint, 0) = 0 
			 AND ISNULL(RP.CanApprove, 0) = 0 
			THEN 1 ELSE 0 
		END AS bit) AS NoAccess
		FROM m_FormMast F WITH(NOLOCK) 
		LEFT JOIN  m_RolePermission RP WITH(NOLOCK)  ON F.FormId = RP.FormID  AND RP.RoleID = @RoleId 
		WHERE ParentFormId IS NOT NULL 
		AND ParentFormId = (CASE WHEN ISNULL(@ParentFormId,'') !='' THEN @ParentFormId  ELSE ParentFormId END)
		ORDER BY FormTitle ASC ;
		
	END TRY
    BEGIN CATCH
        -- Return error information
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;