DROP PROCEDURE IF EXISTS [dbo].[procSaveHeaderFieldsData]
GO
-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 27/03/2025
-- Description:	<Description,,>
-- =============================================
/*
DECLARE @DataTable dbo.Udt_FieldsData ,@_UserID UNIQUEIDENTIFIER ,@_CompanyID UNIQUEIDENTIFIER
SET @_UserID = NEWID()
SET @_CompanyID = NEWID()
INSERT INTO @DataTable (FieldName, FieldValue, DataType)
VALUES  ('Id','0', 'INT'),--Optional
		('FiancialYearId','0','INT'),
		('Description', 'testhyftmorred', 'NVARCHAR')
	
EXEC dbo.procSaveHeaderFieldsData
    @UserID = @_UserID,
    @CompanyID = @_CompanyID,
    @PageName = 'designation', 
    @DataTable = @DataTable
*/
CREATE PROCEDURE [dbo].[procSaveHeaderFieldsData]
    @UserID UNIQUEIDENTIFIER,
    @CompanyID UNIQUEIDENTIFIER,
    @PageName NVARCHAR(100),
    @DataTable dbo.Udt_FieldsData READONLY  -- Table-Valued Parameter   
AS
BEGIN
 
BEGIN TRY
	DECLARE @MessageText AS VARCHAR(500) = ''
	DECLARE @IsSuccess AS BIT = 0
    DECLARE @Columns NVARCHAR(MAX) = '';
    DECLARE @Values NVARCHAR(MAX) = '';
    DECLARE @SQL NVARCHAR(MAX) = '';
	DECLARE @PrimaryId INT ;
	DECLARE @UpdateColumns NVARCHAR(MAX) = '';
	DECLARE @SQLTableName NVARCHAR(50) 

	---For Log purpose
	DECLARE @OldValue NVARCHAR(MAX), @NewValue NVARCHAR(MAX)
    DECLARE @FieldName NVARCHAR(100), @DataType NVARCHAR(50)
    DECLARE @SQLFieldValue NVARCHAR(MAX)
    DECLARE @IPAddress NVARCHAR(45) = NULL -- Can be passed later if needed
    DECLARE @FinancialYearId INT = NULL    -- Placeholder
    DECLARE @Action NVARCHAR(20)
	DECLARE @recId NVARCHAR(100) 

	SELECT @SQLTableName = SQLTableName FROM m_FormMast Where FormName = @PageName
	    -- Get Id Value
    SELECT TOP 1 @PrimaryId = ISNULL(FieldValue,0) FROM @DataTable WHERE FieldName = 'Id';

	IF ISNULL(@SQLTableName ,'') =''
	BEGIN
		SET @MessageText = 'Table Not Exists';
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Validation' as Action, @PrimaryId as PrimaryId
        RETURN;
	END



    -- Iterate over rows in Table-Valued Parameter
    SELECT @Columns = STRING_AGG(QUOTENAME(FieldName), ', '),
           @Values = STRING_AGG(
               CASE 
                   WHEN DataType IN ('INT', 'BIGINT', 'TINYINT', 'SMALLINT','FLOAT', 'DECIMAL', 'REAL', 'NUMERIC') 
                        THEN '' + TRY_CAST(FieldValue AS NVARCHAR(MAX))+'' -- Direct integer conversion    
				   WHEN DataType IN ('NVARCHAR', 'VARCHAR','DATETIME', 'DATE', 'TIME') 
                        THEN '''' + FieldValue+ ''''
                   ELSE '''' + REPLACE(FieldValue, '''', '''''') + '''' -- Escape single quotes for strings
               END, ', '
           ),
			@UpdateColumns = STRING_AGG(
				QUOTENAME(FieldName) + ' = ' + 
				CASE 
					WHEN DataType IN ('INT', 'BIGINT', 'TINYINT', 'SMALLINT','FLOAT', 'DECIMAL', 'REAL', 'NUMERIC') 
                        THEN '' + TRY_CAST(FieldValue AS NVARCHAR(MAX))+'' -- Direct integer conversion     
				   WHEN DataType IN ('NVARCHAR', 'VARCHAR','DATETIME', 'DATE', 'TIME') 
                        THEN '''' + FieldValue+ ''''
                   ELSE '''' + REPLACE(FieldValue, '''', '''''') + '''' -- Escape single quotes for strings
				END
			, ', ')
		FROM @DataTable WHERE FieldName <>'ID';

	-- If no valid columns, exit
    IF LEN(ISNULL(@Columns,'')) = 0
    BEGIN
        SET @MessageText = 'Input Fields Not Supplied';
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Validation' as Action, @PrimaryId as PrimaryId
        RETURN;
    END
	IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'CompanyID')
	BEGIN
		SET @Columns = @Columns + ', CompanyID';
		SET @Values = @Values +', ''' + CAST(@CompanyID AS NVARCHAR(50))  + '''';
	END 
	
	 -- If Id is NULL or 0, Perform INSERT
    IF ISNULL(@PrimaryId,0)=0
	BEGIN
       --SET @PrimaryId = NEWID();     
		IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'CreatedBy')
		BEGIN
			SET @Columns = @Columns + ', CreatedBy';
			SET @Values = @Values +', ''' + CAST(@UserID AS NVARCHAR(50)) + ''' '  ;
		END
		IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'CreatedOn')
		BEGIN
			SET @Columns = @Columns + ', CreatedOn';
			SET @Values = @Values +', ''' + FORMAT(CAST(GETDATE() AS DATETIME), 'yyyy-MM-dd HH:mm:ss') + '''';
		END		
		-- Construct Dynamic SQL
		SET @SQL = 'INSERT INTO ' + QUOTENAME(@SQLTableName) + ' (' + @Columns + ') VALUES (' + @Values + ');';
           -- Construct Dynamic SQL
		SET @SQL = 'INSERT INTO ' + QUOTENAME(@SQLTableName) + ' (' + @Columns + ') VALUES (' + @Values + '); 
					SET @PrimaryId = SCOPE_IDENTITY();';  -- Capture the last inserted ID

		EXEC sp_executesql @SQL, N'@PrimaryId INT OUTPUT', @PrimaryId OUTPUT;
		 
		 -- Log insert for each field
		SET @recId = CAST(@PrimaryId AS NVARCHAR);
		DECLARE insert_cursor CURSOR FOR
        SELECT FieldName, FieldValue FROM @DataTable WHERE FieldName <> 'Id';
        OPEN insert_cursor
        FETCH NEXT FROM insert_cursor INTO @FieldName, @NewValue
        WHILE @@FETCH_STATUS = 0
        BEGIN
			   EXEC dbo.proc_InsertAuditLog
                @CompanyId = @CompanyID,
                @UserId = @UserID,
                @FinancialYearId = @FinancialYearId,
                @PageName = @PageName,
                @Action = 'INSERT',
                @RecordId = @recId,
                @FieldName = @FieldName,
                @FieldOldValue = NULL,
                @FieldNewValue = @NewValue,
                @IPAddress = @IPAddress,
                @Remark = 'Inserted from procSaveHeaderFieldsData'
            FETCH NEXT FROM insert_cursor INTO @FieldName, @NewValue
        END
        CLOSE insert_cursor
        DEALLOCATE insert_cursor

		SET @IsSuccess = 1
        SET @MessageText = 'Success';
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Save' as Action, @PrimaryId as PrimaryId


    END
    ELSE  -- Otherwise, Perform UPDATE
    BEGIN
		SET @recId = CAST(@PrimaryId AS NVARCHAR);
		
		--Add Audit
		 -- Compare each field's old value
        DECLARE update_cursor CURSOR FOR 
        SELECT FieldName, FieldValue, DataType FROM @DataTable WHERE FieldName <> 'Id';

        OPEN update_cursor
        FETCH NEXT FROM update_cursor INTO @FieldName, @NewValue, @DataType
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Build dynamic SQL to get old value
            SET @SQLFieldValue = 
                'SELECT @OldValueOut = CAST(' + QUOTENAME(@FieldName) + ' AS NVARCHAR(MAX)) FROM ' + QUOTENAME(@SQLTableName) + 
                ' WHERE Id = ' + CAST(@PrimaryId AS NVARCHAR);
	
            EXEC sp_executesql @SQLFieldValue, N'@OldValueOut NVARCHAR(MAX) OUTPUT', @OldValueOut = @OldValue OUTPUT
	
            IF ISNULL(@OldValue, '') <> ISNULL(@NewValue, '')
            BEGIN
                EXEC dbo.proc_InsertAuditLog 
                    @CompanyId = @CompanyID,
                    @UserId = @UserID,
                    @FinancialYearId = @FinancialYearId,
                    @PageName = @PageName,
                    @Action = 'UPDATE',
                    @RecordId = @recId,
                    @FieldName = @FieldName,
                    @FieldOldValue = @OldValue,
                    @FieldNewValue = @NewValue,
                    @IPAddress = @IPAddress,
                    @Remark = 'Updated from procSaveHeaderFieldsData'
            END

            FETCH NEXT FROM update_cursor INTO @FieldName, @NewValue, @DataType
        END
        CLOSE update_cursor
        DEALLOCATE update_cursor

		
		IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'UpdatedBy')
		BEGIN
			SET @UpdateColumns = @UpdateColumns + ', UpdatedBy = ''' + CAST(@UserID AS NVARCHAR(50)) + ''' '  ;
		END
		IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'UpdatedOn')
		BEGIN
			SET @UpdateColumns = @UpdateColumns + ', UpdatedOn = ''' + FORMAT(CAST(GETDATE() AS DATETIME), 'yyyy-MM-dd HH:mm:ss') + ''''  ;
		END
		select @PrimaryId
        SET @SQL = 'UPDATE ' + QUOTENAME(@SQLTableName) + 
                ' SET ' + @UpdateColumns +
				' WHERE Id = ' + CAST(@PrimaryId AS varchar) + ' ;';

select @SQL
		EXEC sp_executesql @SQL;
		SET @IsSuccess = 1
        SET @MessageText = 'Success';
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Save' as Action, @PrimaryId as PrimaryId
    END

END TRY
BEGIN CATCH
	SET @IsSuccess = 0
    SET @MessageText = ERROR_MESSAGE();
	SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Error' as Action, @PrimaryId as PrimaryId 
END CATCH
END;