DROP PROCEDURE IF EXISTS [dbo].[proc_SaveFormMast]
GO
-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 30/03/2025
-- Description:	<To Save Form Mast and Child Form Details>
-- =============================================
/*exec sp_executesql N'EXEC proc_SaveFormMast @FormId, @FormName, @FormDescription,
@FormTitle, @IsActive, @PFormId, @SQLTableName, @CompanyId, @Prefix, @SqlTemplateId',
N'@FormId uniqueidentifier,@FormName nvarchar(11),@FormDescription nvarchar(11),
@FormTitle nvarchar(11),@IsActive bit,@PFormId nvarchar(36),@SQLTableName nvarchar(17),
@CompanyId uniqueidentifier,@Prefix nvarchar(4000),@SqlTemplateId nvarchar(4000)'
,@FormId='00000000-0000-0000-0000-000000000000',@FormName=N'newrwcild2',
@FormDescription=N'newrwcild2',@FormTitle=N'newrwcild2',@IsActive=1,
@PFormId=N'dac6d3f7-e0a7-46f8-a5be-136ee0e2b0dd',@SQLTableName=N'param_newrwcild2'
,@CompanyId='A5965711-4580-49D8-83F9-AE607F39300C',@Prefix=NULL,@SqlTemplateId=NULL*/
CREATE PROCEDURE [dbo].[proc_SaveFormMast]
    @FormId UNIQUEIDENTIFIER = NULL,
    @FormName NVARCHAR(255),
    @FormDescription NVARCHAR(500),
    @FormTitle NVARCHAR(255),
    @IsActive BIT,
    @PFormId NVARCHAR(50) = NULL,
    @SQLTableName NVARCHAR(255) = NULL,
    @CompanyId UNIQUEIDENTIFIER,
    @Prefix NVARCHAR(50) = NULL,
	@Alias NVARCHAR(50) = NULL,
    @SqlTemplateId Int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @MessageText AS VARCHAR(500) = ''
	DECLARE @IsSuccess AS BIT = 0
	DECLARE @EmptyGuid UNIQUEIDENTIFIER ='00000000-0000-0000-0000-000000000000'
    DECLARE @ParentFormId UNIQUEIDENTIFIER = NULL;	
	DECLARE @NewFormId UNIQUEIDENTIFIER 
	BEGIN TRY
		-- Convert Parent Form ID if provided
		IF ISNULL(@PFormId,'') !=  ''
		BEGIN
			SET @ParentFormId = CAST(@PFormId AS UNIQUEIDENTIFIER);
		END

		-- If new form, insert it
		IF @FormId IS NULL or @FormId = @EmptyGuid
		BEGIN
			-- Check if form with same name already exists (only if inserting a new form)
			IF EXISTS (Select 1 FROM m_FormMast WHERE FormName = @FormName)
			BEGIN
				SET @MessageText  = 'The '+@FormName+' already exists.'
				SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Validation' as Action, @NewFormId as PrimaryId
				RETURN;
			END
			SET @NewFormId = NEWID();

			INSERT INTO m_FormMast (FormId, FormName, FormDescription, FormTitle, IsActive, ParentFormId, SQLTableName, CompanyId, Prefix, SqlTemplateId,Alias)
			VALUES (@NewFormId, @FormName, @FormDescription, @FormTitle, @IsActive, @ParentFormId, @SQLTableName, @CompanyId, @Prefix, @SqlTemplateId, @Alias);
        
			-- Create SQL table if SQLTableName is provided
			IF ISNULL(@SQLTableName,'')!=''
			BEGIN
				DECLARE @SQL NVARCHAR(MAX) = '';
				DECLARE @Columns NVARCHAR(MAX) = '';
				Declare @TemplateId INT
				IF ISNULL(@SqlTemplateId,0)=0
				BEGIN 
					SELECT @TemplateId = SqlTemplateId FROM m_FormMast WHERE FormId =@ParentFormId
				END
				ELSE
				BEGIN
					SET @TemplateId = @SqlTemplateId
				END
					
				--print @TemplateId
				-- Fetch column details from SqlTemplateDetails
				SELECT @Columns = STRING_AGG(
					'[' + FieldName + '] ' + 
					FieldDataType + 
					CASE WHEN ISNULL(FieldLength,0)!=0 THEN '(' + CAST(FieldLength AS NVARCHAR) + ')' ELSE '' END + 
					CASE WHEN ISNULL(IdentityType,0) = 1 THEN ' IDENTITY(1,1)' ELSE '' END + 
					CASE WHEN ISNULL(AllowNullable,0)  = 1 THEN ' NULL' ELSE ' NOT NULL' END, ', '
				)
				FROM SqlTemplateDetails
				WHERE TemplateId = @TemplateId;
				print @Columns
				-- Construct final CREATE TABLE statement
				SET @SQL = 
					'CREATE TABLE [dbo].[' + @SQLTableName + '] (' + @Columns + 
					', CONSTRAINT [PK_' + @SQLTableName + '] PRIMARY KEY CLUSTERED ([Id] ASC))';

				PRINT @SQL  -- Debugging (optional)
				EXEC sp_executesql @SQL;
					
					-- Create index if table name has 't_' and contains CompanyId and FinancialYearId columns
				--IF @SQLTableName LIKE '%t_%'
				--BEGIN
					DECLARE @HasCompanyId varchar(20) = '', @HasFinancialYearId varchar(20) = '';
					DECLARE @indexName NVARCHAR(128);
					SELECT @HasCompanyId = name
					FROM sys.columns
					WHERE object_id = OBJECT_ID(@SQLTableName) AND name like 'Comp%Id';

					SELECT @HasFinancialYearId = name
					FROM sys.columns
					WHERE object_id = OBJECT_ID(@SQLTableName) AND name like 'Fi%Y%Id';

					IF isnull(@HasCompanyId,'') != '' AND isnull(@HasFinancialYearId,'') != ''
					BEGIN
						SET @indexName = 'IX_' + @SQLTableName + '_'+ @HasCompanyId + @HasFinancialYearId;
						DECLARE @IndexSQL NVARCHAR(MAX);
						SET @IndexSQL = 'CREATE NONCLUSTERED INDEX  ' + @indexName + ' ON [dbo].[' + @SQLTableName + '] (['+@HasCompanyId+'], ['+@HasFinancialYearId+']);';
						print @IndexSQL;
						EXEC sp_executesql @IndexSQL;
					END
				--END
			END

		END
		ELSE
		BEGIN
			-- Update existing form
			UPDATE m_FormMast
			SET FormDescription = @FormDescription,
				FormTitle = @FormTitle,
				IsActive = @IsActive
			WHERE FormId = @FormId;

			SET @NewFormId = @FormId;
		END
		SET @IsSuccess = 1
		SET @MessageText = 'Record save successfully.'
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Save' as Action, @NewFormId as PrimaryId 

	END TRY
    BEGIN CATCH
		SET @IsSuccess = 0
		SET @MessageText = ERROR_MESSAGE();
		SELECT @IsSuccess as IsSuccess, @MessageText as Response, 'Error' as Action, @NewFormId as PrimaryId 
    END CATCH
END
