CREATE PROCEDURE proc_DeletePartyMast
(
    @PartyId UNIQUEIDENTIFIER 
)
AS
BEGIN
   BEGIN TRY
		DECLARE @Action NVARCHAR(10), @Response NVARCHAR(200), @IsSuccess BIT;
        IF EXISTS (SELECT 1 FROM m_PartyMast WHERE PartyId = @PartyId)
        BEGIN
			DELETE FROM m_PartyMast 
			WHERE PartyId = @PartyId
        END
		
        SET @Action = 'Delete';
        SET @Response = 'Record Deleted successfully.';
        SET @IsSuccess = 1;
    END TRY
    BEGIN CATCH
        SET @Action = 'Error';
        SET @Response = ERROR_MESSAGE();
        SET @IsSuccess = 0;
    END CATCH

    SELECT @Action AS Action, @PartyId AS PrimaryId, @IsSuccess AS IsSuccess, @Response AS Response
END
