/****** Object:  StoredProcedure [dbo].[proc_AddCompany]    Script Date: 2/3/2025 10:49:41 pm ******/
DROP PROCEDURE IF EXISTS [dbo].[proc_AddItem]
GO

/****** Object:  StoredProcedure [dbo].[proc_AddCompany]    Script Date: 2/3/2025 10:49:41 pm ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 03/02/2025
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[proc_AddItem]
    @ItemCode VARCHAR(20),
    @ItemDescription VARCHAR(255),
    @AlternateDescription VARCHAR(255) = NULL,
    @ItemGroup INT,
    @ItemUOM INT,
    @ItemCategory INT,
    @ItemType INT,
    @PackingType INT,
    @ItemStatus BIT,   
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @NewItemId UNIQUEIDENTIFIER;	
    DECLARE @MessageText VARCHAR(500);
    DECLARE @IsSuccess BIT = 0;
	DECLARE @Action VARCHAR(10) ='Unsave';
	
	 -- Validation for Required Fields
    IF (@ItemCode = '' OR @ItemDescription = '' OR @ItemGroup <= 0 OR @ItemUOM <= 0 OR @ItemCategory <= 0 OR @ItemType <= 0 OR @PackingType <= 0 OR  @ItemStatus NOT IN (0, 1))
    BEGIN       
         SET @MessageText = 'Missing required fields for adding new item.';
		 GOTO ErrorHandler;
    END
	
	IF EXISTS (SELECT 1 FROM m_ItemMast WHERE ItemCode = @ItemCode)
	BEGIN
		SET @MessageText = 'Item Code already exists.';	
		GOTO ErrorHandler;
	END


    SET @NewItemId = NEWID();

		-- Insert into m_ItemMast
	INSERT INTO m_ItemMast (	
		ItemId, ItemCode, ItemDescription, AlternateDescription, 
		ItemGroup, ItemUOM, ItemCategory, ItemType, PackingType, 
		ItemStatus, CreatedBy, CreatedOn
	) 
	VALUES (
		@NewItemId, @ItemCode, @ItemDescription, @AlternateDescription, 
		@ItemGroup, @ItemUOM, @ItemCategory, @ItemType, @PackingType, 
		@ItemStatus,@UserId, GETDATE()
	);		
			      
		
        SET @IsSuccess = 1;
		SET @Action = 'Save';
		SET @MessageText = 'Record save successfully'

    -- Return output
    SELECT @IsSuccess AS IsSuccess, @MessageText AS Response, @Action AS Action, @NewItemId AS PrimaryId;

	ErrorHandler:
	SELECT @IsSuccess AS IsSuccess, @MessageText AS Response, @Action AS Action, @NewItemId AS PrimaryId;
	RETURN;
    
END;
