-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 24/05/2025
-- Description:	<To Get Rolewise Form List with Permissions Details>
-- =============================================
-- exec proc_GetRolePermissionDetails 4
CREATE OR ALTER PROCEDURE [dbo].[proc_GetRolePermissionDetails]
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY
			SELECT RoleId,RoleName,Description,CreatedOn,status 
			FROM m_RoleMast 
			WHERE RoleId = @RoleId  

			SELECT F.FormId, F.FormTitle AS FormName , F.ParentFormId, PF.FormTitle AS ParentFormName,
			RP.RolepermissionId, RP.RoleId, 
			RP.FullAccess, RP.CanAdd, RP.CanEdit,  RP.CanDelete, RP.CanPrint, RP.CanApprove, 
			RP.Createdby, RP.CreatedOn, RP.UpdatedBy, RP.UpdatedOn
			FROM m_FormMast F WITH(NOLOCK) 
			LEFT JOIN m_FormMast PF WITH(NOLOCK)  ON F.ParentFormId = PF.FormId
			LEFT JOIN  m_RolePermission RP WITH(NOLOCK)  ON F.FormId = RP.FormID and RoleId = @RoleId 
	END TRY
    BEGIN CATCH
        -- Return error information
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;