
DROP PROCEDURE IF EXISTS  [dbo].[proc_GetDataTableFields] 
GO
  
-- =============================================  
-- Author:  Lavina Shaktawat  
-- Create date: 26/03/2025  
-- Description: <Get All Form Field List based on FormName>  
-- =============================================  
-- EXEC proc_GetDataTableFields 'currency'   
CREATE PROCEDURE [dbo].[proc_GetDataTableFields]     
    @PageName NVARCHAR(50)
AS  
BEGIN  
  
 DECLARE @FormId  AS NVARCHAR(50),  
  @SQLTableName  AS NVARCHAR(50),  
  @SectionId AS NVARCHAR(50),  
  @Columns AS NVARCHAR(MAX)='',  
  @SQL NVARCHAR(MAX);  
  
 DECLARE @CompanyId AS NVARCHAR(50)  
 SELECT @FormId =FormId,@CompanyId= CompanyId, @SQLTableName = SQLTableName  FROM m_FormMast WHERE FormName = @PageName  
 SELECT  @SectionId = FormSectionId FROM  m_FormSection WHERE SectionName  = 'Header'  
  
 SELECT
 CONVERT(varchar(40), Field.FieldId) as FieldId,
CONVERT(varchar(40), Field.FormId) as FormId,
CONVERT(varchar(40), Field.FormTabId) as FormTabId,
CONVERT(varchar(40), Field.FieldTypeId) as FieldTypeId,
CONVERT(varchar(40), Field.FormSectionId) as FormSectionId,
Field.IsActive,Field.FieldName,Field.FieldCaption,Field.FieldLength,
Field.SortOrder,Field.FieldSize,
Field.FieldPlaceHolder,Field.FieldHelpText,
Field.IsRequired,Field.CreatedOn,Field.UpdatedOn,Field.ParameterId
,m_FormFieldTypes.FieldType
,tab.TabName
,m_FormSection.SectionName
,Field.IsDisable
,Field.IsVisible
,Field.IsVisibleInList
,Field.DDLSourceName
,Field.DDLSourceType
,Field.DDLValueField
,Field.DDLTextField
 FROM m_FormField  AS Field WITH (NOLOCK)    
 INNER JOIN m_FormTab AS tab WITH (NOLOCK)  ON Field.FormTabId = tab.FormTabId 
 INNER JOIN m_FormFieldTypes WITH (NOLOCK)  ON Field.FieldTypeId = m_FormFieldTypes.FieldTypeId 
 INNER JOIN m_FormSection WITH (NOLOCK)   ON Field.FormSectionId = m_FormSection.FormSectionId 
 AND field.FormSectionId =@SectionId  
 WHERE Field.FormId = @FormId AND ISNULL(IsVisibleInList ,0) =1 
 ORDER BY Field.SortOrder ASC
   
 -- IF (LEN(ISNULL(@Columns,''))<=0)  
 -- BEGIN  
 -- SET @ErrorMsg = 'No Visible Field Exists'    
 -- return  
 -- END  
  
 --IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'CreatedBy')  
 --BEGIN  
 --   SET @Columns = @Columns + ', CreatedBy';  
 --END  
 --IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'CreatedOn')  
 --BEGIN  
 --   SET @Columns = @Columns + ', CreatedOn';  
 --END  
 --IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'UpdatedBy')  
 --BEGIN  
 --   SET @Columns = @Columns + ', UpdatedBy';  
 --END  
 --IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'UpdatedOn')  
 --BEGIN  
 --   SET @Columns = @Columns + ', UpdatedOn';  
 --END   
 --IF EXISTS (  SELECT 1   FROM INFORMATION_SCHEMA.COLUMNS   WHERE TABLE_NAME = @SQLTableName   AND COLUMN_NAME = 'Id')  
 --BEGIN  
 --   SET @Columns = @Columns + ', Id';  
 --END   
  
 --SET @SQL = 'SELECT ' + @Columns + ' FROM ' + QUOTENAME(@SQLTableName);  
 ----PRINT @SQL; -- Debugging  
 --SET @ErrorMsg = 'Success'  
 --EXEC sp_executesql @SQL;  
      
END  