DROP PROCEDURE IF EXISTS [dbo].[proc_GetFormDocument]
GO
-- =============================================
-- Author:		Lavina Shaktawat
-- Create date: 01/04/2025
-- Description:	<Description,,>
-- =============================================
/* EXEC proc_GetFormDocument '4BFBAEAF-15BA-4E70-AB60-214B30B28D88' */
CREATE PROCEDURE [dbo].[proc_GetFormDocument]
    @FormId VARCHAR(50)= NULL    
AS
BEGIN
	BEGIN TRY

		SELECT DocNoSettingId,
				DocName,
			   DocAlias ,
			   StartNumber,
			   FormId ,
			   IsDefault
		FROM m_FormDocNoSetting
		WHERE FormId = (CASE WHEN ISNULL(@FormId,'') ='' 
						OR ISNULL(@FormId,'00000000-0000-0000-0000-000000000000')='00000000-0000-0000-0000-000000000000' 
						THEN FormId ELSE @FormId END)
	END TRY
    BEGIN CATCH
		RAISERROR ('Error While fetch Details', 16, 1);
        RETURN;
	END CATCH
END;
