/****** Object:  Table [dbo].[m_ParamValue]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_ParamValue](
	[ParamValueId] [uniqueidentifier] NOT NULL,
	[ParameterId] [uniqueidentifier] NOT NULL,
	[ParamValueCaption] [nvarchar](50) NOT NULL,
	[ParamValueName] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_m_ParameterValue] PRIMARY KEY CLUSTERED 
(
	[ParamValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
