/****** Object:  Table [dbo].[m_CompanyBank]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_CompanyBank](
	[BankId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[BranchCode] [varchar](20) NOT NULL,
	[BranchAddress1] [varchar](50) NULL,
	[BranchAddress2] [varchar](50) NULL,
	[CityId] [uniqueidentifier] NULL,
	[AccountNo] [nvarchar](50) NOT NULL,
	[IFSCCode] [varchar](50) NULL,
	[SwiftCde] [varchar](50) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_m_CompanyBank] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
