/****** Object:  Table [dbo].[m_FormField]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_FormField](
	[FieldId] [uniqueidentifier] NOT NULL,
	[FormId] [uniqueidentifier] NOT NULL,
	[FormTabId] [uniqueidentifier] NULL,
	[FieldTypeId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FieldName] [varchar](50) NOT NULL,
	[FieldCaption] [varchar](50) NOT NULL,
	[FieldLength] [int] NOT NULL,
	[FormSectionId] [uniqueidentifier] NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[ParameterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_m_FormField] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-------------- Alter Table ------------

ALTER TABLE m_FormField ADD  
DDLSourceType VARCHAR(50),
DDLSourceName VARCHAR(50),
DDLTextField VARCHAR(50),
DDLValueField VARCHAR(50),
IsReadOnly BIT,
IsVisible BIT,
IsVisibleInList BIT ,
FieldSize        VARCHAR(10),
FieldPlaceHolder VARCHAR(50),
FieldHelpText    VARCHAR(100)