/****** Object:  Table [dbo].[m_FormSection]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_FormSection](
	[FormSectionId] [uniqueidentifier] NOT NULL,
	[SectionName] [varchar](30) NOT NULL,
 CONSTRAINT [PK_m_FormSection] PRIMARY KEY CLUSTERED 
(
	[FormSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
