/****** Object:  Table [dbo].[m_ItemMast]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_ItemMast](
	[ItemId] [uniqueidentifier] NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
	[ItemDescription] [varchar](255) NOT NULL,
	[AlternateDescription] [varchar](255) NULL,
	[ItemGroup] [int] NOT NULL,
	[ItemUOM] [int] NOT NULL,
	[ItemCategory] [int] NOT NULL,
	[ItemType] [int] NOT NULL,
	[PackingType] [int] NOT NULL,
	[ItemStatus] [bit] NOT NULL,
	[PurchaseUOM] [int] NULL,
	[ItemPerPurchase] [int] NULL,
	[PurchaseTaxPercentage] [decimal](5, 2) NULL,
	[PurchaseHSNCode] [int] NULL,
	[SalesUOM] [int] NULL,
	[ItemPerSales] [int] NULL,
	[SalesTaxPercentage] [decimal](5, 2) NULL,
	[SalesHSNCode] [int] NULL,
	[ItemWeight] [decimal](18, 2) NULL,
	[MinimumQty] [decimal](18, 2) NULL,
	[MaximumQty] [decimal](18, 2) NULL,
	[ReorderQty] [decimal](18, 2) NULL,
	[ValuationMethod] [int] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[m_ItemMast] ADD  DEFAULT (newid()) FOR [ItemId]
GO
