/****** Object:  Table [dbo].[m_CompanyMast]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_CompanyMast](
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CompanyCode] [varchar](30) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Mobile] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[WebStite] [varchar](100) NULL,
	[Fax] [varchar](20) NULL,
	[RegisterAddress1] [nvarchar](200) NULL,
	[RegisterAddress2] [nvarchar](200) NULL,
	[RegiterCityId] [uniqueidentifier] NULL,
	[RegiterStateId] [uniqueidentifier] NULL,
	[RegisterCountryId] [uniqueidentifier] NULL,
	[RegisterPincode] [varchar](10) NULL,
	[FactoryAddress1] [nvarchar](200) NULL,
	[FactoryAddress2] [nvarchar](200) NULL,
	[FactoryCityId] [uniqueidentifier] NULL,
	[FactoryStateId] [uniqueidentifier] NULL,
	[FactoryCountryId] [uniqueidentifier] NULL,
	[FactoryPincode] [varchar](10) NULL,
	[GSTNo] [varchar](50) NULL,
	[PANNo] [varchar](20) NULL,
	[CINNo] [varchar](50) NULL,
	[ECCNo] [varchar](50) NULL,
	[IECCode] [varchar](50) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_m_CompanyMast] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
