/****** Object:  Table [dbo].[m_FormFieldTypes]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_FormFieldTypes](
	[FieldTypeId] [uniqueidentifier] NOT NULL,
	[FieldType] [varchar](50) NOT NULL,
	FieldTypeClass VARCHAR (100) NULL,
	SortOrder INT NULL,
	IsFieldTypeElement bit default (0) 
 CONSTRAINT [PK_m_FormFieldTypes] PRIMARY KEY CLUSTERED 
(
	[FieldTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

------------------Insert Script for Field type---------------------

INSERT [dbo].[m_FormFieldTypes] ([FieldTypeId], [FieldType], [FieldTypeClass], [SortOrder], [IsFieldTypeElement]) VALUES (NEWID(), N'CheckBox', N'fa fa-check-square-o', 3, 1)
GO																														 
INSERT [dbo].[m_FormFieldTypes] ([FieldTypeId], [FieldType], [FieldTypeClass], [SortOrder], [IsFieldTypeElement]) VALUES (NEWID(), N'Reset', NULL, NULL,  NULL)
GO																														 
INSERT [dbo].[m_FormFieldTypes] ([FieldTypeId], [FieldType], [FieldTypeClass], [SortOrder], [IsFieldTypeElement]) VALUES (NEWID(), N'DateTimeField', N'fa fa-calendar',  5, 1)
GO																														 

  UPDATE m_FormFieldTypes SET [FieldTypeClass]= 'fa fa-sort-numeric-asc' WHERE [FieldTypeClass]= 'fa-file-text'
  UPDATE m_FormFieldTypes SET [FieldTypeClass]= 'fa fa-file-text' WHERE [FieldTypeClass]= 'fa-file-text'
-------------Update/Alter  Script if already exist------------------

/*
IF NOT EXISTS (SELECT 1  FROM INFORMATION_SCHEMA.COLUMNS  WHERE TABLE_NAME = 'm_FormFieldTypes' AND COLUMN_NAME = 'FieldTypeClass')
BEGIN
	ALTER TABLE m_FormFieldTypes ADD  FieldTypeClass VARCHAR (100)
END
IF NOT EXISTS (SELECT 1  FROM INFORMATION_SCHEMA.COLUMNS  WHERE TABLE_NAME = 'm_FormFieldTypes' AND COLUMN_NAME = 'SortOrder')
BEGIN
	ALTER TABLE m_FormFieldTypes ADD  SortOrder INT
END
IF NOT EXISTS (SELECT 1  FROM INFORMATION_SCHEMA.COLUMNS  WHERE TABLE_NAME = 'm_FormFieldTypes' AND COLUMN_NAME = 'IsFieldTypeElement')
BEGIN
	ALTER TABLE m_FormFieldTypes ADD  IsFieldTypeElement bit default (0)
END
update m_FormFieldTypes set FieldTypeClass = 'fa fa-pencil-square-o',SortOrder=1,IsFieldTypeElement=1  Where  FieldType = 'TextBox'

update m_FormFieldTypes set FieldTypeClass = 'fa fa-check-square-o',SortOrder=3,IsFieldTypeElement=1   Where  FieldType = 'CheckBox'

update m_FormFieldTypes set FieldTypeClass = 'fa fa-calendar', SortOrder=5 ,IsFieldTypeElement=1 Where  FieldType = 'DateTimeField'

update m_FormFieldTypes set FieldTypeClass = 'fa fa-dot-circle-o' ,SortOrder=4 ,IsFieldTypeElement=1 Where  FieldType = 'RadioButton'

update m_FormFieldTypes set FieldTypeClass = 'fa fa-caret-square-o-down',SortOrder=2, IsFieldTypeElement=1    Where  FieldType = 'Selection'

update m_FormFieldTypes set FieldTypeClass = 'fa fa-text-width' ,SortOrder=6, IsFieldTypeElement=1   Where  FieldType = 'MultiText'
*/