/****** Object:  Table [dbo].[m_CompanyUnit]    Script Date: 16/3/2025 6:48:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_CompanyUnit](
	[CompanyUnitId] [uniqueidentifier] NOT NULL,
	[SiteName] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](200) NOT NULL,
	[Address2] [nvarchar](200) NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[StateId] [uniqueidentifier] NULL,
	[CountryId] [uniqueidentifier] NULL,
	[Pincode] [varchar](10) NULL,
	[GSTNo] [varchar](50) NULL,
	[PANNo] [varchar](20) NULL,
	[Phone] [varchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_m_CompanyUnit] PRIMARY KEY CLUSTERED 
(
	[CompanyUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
