/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type=text],
select,
textarea {
    min-width: 280px;
}

    input:focus {
        outline: none !important;
        border-color: #2792a3;
        box-shadow: 0 0 3px #2792a3;
    }

    select:focus {
        outline: none !important;
        border-color: #2792a3;
        box-shadow: 0 0 3px #2792a3;
    }

    textarea:focus {
        outline: none !important;
        border-color: #2792a3;
        box-shadow: 0 0 3px #2792a3;
    }
body.modal-open {
    padding-right: 0 !important;
}